{{>header}}
<input name='current' value='{{homebox}}' type='hidden' id='menutype'>
{{>buttons}}
 <div id="wrapper">
        <div class="container">
            <h1>{{title}}</h1>
            <div class="content">
                     
            <!-- Thumbnail section -->
                <div class="row">
                    {{#each items}}
                    <div class="col-xs-3">
                            <div class="thumbnail">
                                    <img src="/assets/images/hmthumbnail2.png" alt='{{name}}' key='{{id}}' searchType='{{name}}'>
                                    <div class="caption" style='text-align: center'>{{name}}</div>
                            </div>
                    </div> 
                    {{/each}}                 
                </div><!-- End row -->
                
            </div>
        </div>
       
    </div>

